body {
background-color: #f0f8ff;
background-image: url("https://transparenttextures.com/patterns/asfalt-dark.png");
}

.header-bar {
  padding: 50px;
}

.card-body{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-group{
  display: flex;
  justify-content: center;
}

.card {
  margin: 5px;
}

.row {
  margin: 20px;
}

.rec_movie_name{
  font-size: 35px;
  font-style: oblique;
  font-weight: bold;
  font-family: inherit;
  font-style: oblique;
  padding: 20px;
  text-align: center;
}

img {
  height: 450px;
  width:320px;
}

.movie_details {
  border: 2px solid #30475E;
  border-radius: 5px;
  margin:10px;
  padding:10px;
}

.movie_details_name{
  font-size: 30px;
}

.movie-name{
  font-size: 27px;
  font-style: oblique;
  font-weight: bold;
  font-family: inherit;
}


footer {
  height: 130px;
  background-color:#142F43;
  text-align: center;
  margin: 0;
}

.footer-text{
  font-size: 20px;
  padding: 50px;
  color:#f0f8ff;
}

.input-group {
  margin-top:30px;
}

.header-box {
  font-size: 40px;
}



.search-box {
  display: flex;
  flex-direction: row;
  position: center;
  margin: 10px;
  background-color: white;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
