{% extends "layout.html" %}

{% block body %}


<body>
  <div class="header-bar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/"><i class="fas fa-home"> Home</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="navbar-brand" href="/movie"></a>
          </li>
        </ul>
        <li class="nav-item">
          <a class="navbar-brand" href="/">WatchList</a>
        </li>
      </div>
    </nav>
  </div>


  <div class="rec_movie_name">
    <p>Your Watchlist</p>
  </div>


  <div class="recommend_movie">


    <div class="row">
      {% for movie, poster in movies_posters %}
      <div class=" pricing-column col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{  poster }}" alt="">
            <p class="movie-name">{{ movie }}</p>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
